* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  color: $text-color;
  font-size: $size-text;
  line-height: 22px;
  font-weight: 400;
  font-family: $lato;
  background-color: $white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-h;
    font-weight: 500;
    font-family: $releway;  
    margin-top: 0;
}
h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 25px;
}
h3{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
p {
  margin: 0 0 25px;
  font-size: 16px;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
input,
button {
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}
input [type="email"],
input [type="tel"],
input[type="search"],
input[type="text"],
input[type="password"],
input[type="file"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
}
.container{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
//title
.title__holder {
  text-align: center;
  h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 35px;
    span {
        color: $red;
      }
  }
  p {
    margin: 0 0 95px;
    font-size: 16px;
    font-weight: 700;
    span {
      color: $red;
    }
  }
}
