.btn {
    padding: 14px 36px;
    font: 500 20px/22px $releway;
    color: $white;
    text-transform: uppercase;
    background-color: $color-btn;
    outline: none;
    cursor: pointer;
    @include hover-red;
}