.btn {
    padding: 14px 36px;
    font-family: $releway;
    font-weight: 500;
    font-size: 20px;
    color: $white;
    text-transform: uppercase;
    background-color: $color-btn;
    outline: none;
    cursor: pointer;
    @include hover-red;
}