//Colors
$black: #000;
$white: #fff;
$text-color: #505050; 
$red: #ff0036;
$color-h: #262626;
$color-btn: #131313;
$bg-colorimg: rgba(0, 0, 0, .678);
$grey: #a4a4a4;

//font
$releway: 'Raleway', sans-serif;
$lato: 'Lato', sans-serif;

//fz
$size-text: 16px;