.about {
  padding: 92px 0 75px;
  .title__holder{
    margin-bottom: 95px;
  }
}
.about__info {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 100px;
  padding-bottom: 100px;
  @extend %separator;
}
.about__content {
  max-width: 575px;
}
.about__image img {
  width: 100%;
}
//spoler

.spoiler__wrap {
  margin-bottom: 7px;
  &:last-child {
    margin-bottom: 0;
  }
}
.spoiler-trigger {
  color: $text-color;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.spoiler__wrap.visible > .spoiler-trigger {
  color: $red;
  transition: .7s;
  &:before {
    content: "\e909";
  }
}
.spoiler-trigger{
  padding: 10px 10px 10px 90px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  display: block;
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  &:before {
    content: "\e90a";
    font-family: icomoon;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 23px;
    padding-right: 18px;
    border-right: 1px solid #e7e7e7;
    left: 20px;
  }
}
.spoiler-block {
  padding: 12px 20px;
  border: 1px solid #e7e7e7;
  display: none;
}
.about__skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  .icon-heart{
    &:before{
    font-size: 25px;
  }
}
  .icon-accept{
    &:before{
      font-size: 35px;
    }
  }
}
.about__skill-item {
  max-width: 270px;
  margin: 0 10px 20px;
  position: relative;
  display: block;
  padding-top: 110px;
  color: $black;
  p {
    font-family: $lato;
  }
  &:after,
  &:before {
    font-family: $ico;
    line-height: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    @include transition(color);
  }
  &:after {
    content: "\e90e";
    font-size: 110px;
  }
  &:before {
    font-size: 40px;
    z-index: 3;
  }
  &:hover {
    &:after {
      content: "\e902";
      color: $red;
      font-size: 95px;
    }
    &:before {
      color: $white;
    }
  }
}
.about__skill-matchheight {
  display: block;
  margin-bottom: 20px;
  h3 {
    margin: 0;
  }
}
