.about {
  padding: 92px 0;
}
.about__info {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 208px;
  @extend %separator;
}
.about__content {
  max-width: 575px;
}
//spoler

.spoiler__wrap {
  margin-bottom: 10px;
}
.spoiler-trigger {
  color: $text-color;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.spoiler__wrap.visible>.spoiler-trigger {
  color: $red;
  transition: 0.7s;
  span:before {
    content: "\f056";
  }
  // .spoiler-block {
  //   display: block;
  // }
}
.spoiler-trigger > span {
  padding: 10px 0 10px 90px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  display: block;
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  &:before {
    content: "\f055";
    font-family: icomoon;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 23px;
    padding-right: 18px;
    border-right: 1px solid #e7e7e7;
    left: 20px;
  }
}
.spoiler-block {
  padding: 12px 20px;
  border: 1px solid #e7e7e7;
}
.about__skill {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.about__skill-item {
  max-width: 270px;
  position: relative;
  padding-top: 105px;
  color: $black;
  p{
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-family: $lato;
  }
  &:after,&:before {
    font-family: $ico;
    line-height: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    @include transition(color);
  }
  &:after {
    content: "\e900";
    font-size: 90px;
  }
  &:before {
    font-size: 35px;
    z-index: 3;
  }
  &:hover {
    &:after {
      content: "\e902";
      color: $red;
    }
    &:before {
      color: $white;
    }
  }
}
