.find-us {
  padding-top: 100px;
  iframe {
    width: 100%;
    height: 570px;
    font-size: 100%;
  }
}
.form {
  max-width: 470px;
  background-color: $white;
  padding: 53px 45px;
  box-shadow: $shadow;
  text-align: right;
  position: absolute;
  left: 50%;
  bottom: 0;
  h3 {
    text-align: left;
    margin-bottom: 45px;
  }
  input {
    &:invalid {
      border: 1px solid red;
    }
  }
  textarea {
    height: 85px;
    margin-bottom: 25px;
  }
  .btn {
    padding: 10px 30px;
    font-size: 16px;
  }
}
.find-us__map {
  position: relative;
  line-height: 0;
}
.find-us__contacts {
  background: $color-h;
  text-align: left;
  padding: 30px 100px 40px 20px;
  display: inline-block;
  max-width: 450px;
  line-height: initial;
  position: relative;
  color: $white;
  &:after {
    content: "";
    position: absolute;
    right: -5px;
    bottom: -20px;
    width: 25px;
    height: 0;
    border-style: solid;
    border-width: 30px 0px 0 79px;
    border-color: $color-h transparent transparent transparent;
    transform: rotate(-47deg);
  }
  dt {
    display: inline-block;
  }
  dd {
    display: inline-block;
    margin: 0;
  }
  a {
    color: $white;
    display: block;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  span {
    margin-bottom: 5px;
    display: inline-block;
  }
  address {
    margin-bottom: 5px;
  }
}
.find-us__contacts-wrap {
  position: absolute;
  top: 50%;
  left: 10%;
  max-width: 500px;
}
