.follow {
    padding: 100px 0 100px;
    background-image: url("../img/slider-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    color: $white;
    @include bg-fon-image;
    h2 {
        color: $white;
    }
}
.follow-box {
    text-align: center;
    position: relative;
    &:after {
        content: "\e900";
        font-family: $ico;
        position: absolute;
        font-size: 80px;
        color: $red;
        line-height: 80px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    a {
        display: block;
        margin-bottom: 100px;
        position: relative;
        font-size: 40px;
        color: $red;
        height: 1px;
        &:before {
        position: absolute;
        left: 50%;
        line-height: 80px;
        top: 50%;
        transform: translateX(-50%);
    }
    }
    span {
        display: block;

    }
}