.follow {
  padding: 98px 0 70px;
  background-image: url("../img/slider-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
  color: $white;
  text-align: center;
  @include bg-fon-image;
  h2 {
    color: $white;
  }
}
.follow__wrap {
  @extend %separator;
  &:after {
    background-color: $red;
  }
  &:before {
    color: $red;
  }
  .title__holder{
    margin-bottom: 40px;
  }
}
.follow-box {
  a {
    position: relative;
    padding-top: 110px;
    font-size: 18px;
    color: $white;
    width: 80px;
    margin: 0 20px 15px;
    span {
      display: inline-block;
    }
    &:hover {
      &:after {
        content: "\e902";
        color: $red;
        font-size: 75px;
      }
      &:before {
        color: $white;
        z-index: 2;
      }
    }
    &:after,
    &:before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      color: $red;
      line-height: 70px;
      font-family: $ico;
      @include transition(color);
    }
    &:after {
      content: "\e90e";
      font-size: 90px;
    }
    &:before {
      font-size: 25px;
    }
  }
}
