.our-skills {
  text-align: center;
  padding: 113px 0 77px;
}
.statistics__item {
  max-width: 170px;
}
.our-skills__statistics {
  display: flex;
  justify-content: space-between;
  max-width: 770px;
  margin: 0 auto;
}
.preloader{
  width: 150px;
  margin: 0 auto 20px;
}
.preloader1,.preloader2,.preloader3,.preloader4{
  svg{
    width: 100px;
    margin: 0 auto;
  }
}