.our-product {
  text-align: center;
  padding: 95px 0 110px;
}
.our-product__wrap {
  padding: 85px 0 278px;
  background-image: url("../img/our-img.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
  display: flex;
  justify-content: space-between;
  ul {
    max-width: 370px;
  }
  li {
    margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
    }
  }
  input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  span {
    display: inline-block;
    border: 1px solid $grey-min;
    font-family: $releway;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    color: $black;
    position: relative;
    &:after,
    &:before {
      font-family: $ico;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      cursor: pointer;
    }
    &:after {
      content: "\e902";
      font-size: 35px;
      color: $grey-min;
      line-height: 35px;
    }
    &:before {
      content: "\f00c";
      visibility: visible;
      font-size: 20px;
      z-index: 1;
    }
  }
  input[type="radio"]:checked ~ span,
  input[type="checkbox"]:checked ~ span {
    background-color: $red;
    color: $white;
    &:before {
      color: $red;
    }
    &:after {
      color: $white;
    }
  }
  .btn {
    position: absolute;
    background-color: $color-btn2;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    @include hover-red;
  }
}
.our-product__wrap-left {
  text-align: right;
  span {
    padding: 15px 70px 15px 20px;
    &:after {
      right: 15px;
    }
    &:before {
      right: 22px;
      z-index: 1;
    }
  }
}
.our-product__wrap-right {
  text-align: left;
    span {
      padding: 15px 20px 15px 70px;
      &:after {
        left: 15px;
      }
      &:before {
        left: 22px;
      }
    }
  }
