.our-skills {
  text-align: center;
  padding: 113px 0 77px;
}
.statistics__item {
  max-width: 170px;
  
}
.our-skills__statistics {
  display: flex;
  justify-content: space-around;
}
.preloader{
  margin-bottom: 20px;
}