.our-teamwork {
  padding: 93px 0 100px;
  text-align: center;

}
.team {
  @extend %separator;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.team__item {
  border: 1px solid $grey-min;
  @include transition(border-color);
  ul {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    line-height: 0;
    width: 180px;
    margin-left: -20px;
    font-size: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    @include transition(opacity visibility border-color);
    li {
      display: inline-block;
      padding-left: 40px;
    }
    a {
      color: $red;
      font-size: 20px;
      position: relative;
      z-index: 1;
      &:after {
        content: "\e902";
        position: absolute;
        font-family: $ico;
        color: $white;
        font-size: 45px;
        top: 50%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
      }
    }
  }
  h3 {
    @include transition(color);
  }
  span {
    display: inline-block;
    margin-bottom: 30px;
  }
  .team__item-img {
    position: relative;
    line-height: 0;
    &:after {
      content: "";
      position: absolute;
      background-color: $color-h;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      top: 0;
      left: 0;
      right: 0;
      @include transition(opacity visibility);
    }
  }
  &:hover {
    border-color: $color-h;
    h3 {
      color: $red;
    }
    ul {
      visibility: visible;
      opacity: 1;
    }
    .team__item-img {
      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
.team__item-img {
  margin-bottom: 30px;
}
