.slider {
  .slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.slider__item {
  position: relative;
  padding: 28px 0 0 0;
  @include bg-fon-image;
  min-height: 693px;
}
.slider__item-img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  top: 0;
  display: block;
}
.slider__content {
  font-size: 0;
  text-align: center;
  color: $white;
  h2 {
    color: $white;
    span {
      color: $red;
    }
  }
  p {
    font-weight: 400;
    margin: 0;
  }
  a {
    margin-right: 30px;
    &:last-child{
      margin: 0;
    }
  }
}
.slider__button {
  margin-top: 40px;
}
//slick-slider
.slick-slide {
  outline: none;
}
.slick-btn {
  position: absolute;
  z-index: 4;
  width: 30px;
  height: 40px;
  top: 50%;
  font-family: "icomoon";
  font-size: 35px;
  color: $grey;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transform: translateY(-50%);
  transition: color .7s;
  &:hover {
    color: $red;
  }
}
.slick-next {
  right: 1%;
  &:after {
    content: "\f054";
  }
}
.slick-prev {
  left: 1%;
  &:after {
    content: "\f053";
  }
}
