.slider {
  position: relative;
  .slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider__items{
    .slick-dots {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      font-size: 0;
      line-height: 0;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      margin-right: -5px;
      li {
        display: inline-block;
        padding-right: 5px;
        button {
          border: none;
          outline: none;
          padding: 0;
          width: 14px;
          background-color: $white;
          border-radius: 50%;
          height: 14px;
        }
      }
    }
    .slick-dots .slick-active button {
      background-color: $red;
      transition: .3s;
    }
  }
}
.slider__item {
  position: relative;
  padding: 28px 0 0;
  @include bg-fon-image;
  height: 100vh;
  padding: 50px 0;
}
.slider__item-img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  top: 0;
  display: block;
}
.slider__content {
  text-align: center;
  color: $white;
  .title__holder{
    margin-bottom: 50px;
  }
  h2 {
    color: $white;
    span {
      color: $red;
    }
  }
  p {
    font-weight: 400;
    margin: 0;
    padding: 0 15px;
  }
  a {
    margin-right: 30px;
    &:last-child {
      margin: 0;
    }
  }
}
.slider__button {
  margin-top: 40px;
}
//slick-slider
.slick-slide {
  outline: none;
}
.slick-btn {
  position: absolute;
  z-index: 4;
  width: 30px;
  height: 40px;
  top: 52%;
  font-family: "icomoon";
  font-size: 31px;
  color: $grey;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transform: translateY(-50%);
  transition: color .7s;
  &:hover {
    color: $red;
  }
}
.slick-dots button{
  background-color: #fff;
}
.slick-next {
  right: 2%;
  &:after {
    content: "\f054";
  }
}
.slick-prev {
  left: 2%;
  &:after {
    content: "\f053";
  }
}