.header {
  background-color: rgba($black, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}
.header__wrap {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.logo {
  position: absolute;
  left: 0;
  top: -6px;
}
.menu {
  padding: 20px 0;
  position: relative;

  .iconsss {
    display: none;
    font-size: 40px;
    color: $white;
    right: 0;
    z-index: 100;
  }
  ul {
    font-size: 0;
    line-height: 0;
    display: flex;  
    width: 825px;
    justify-content: space-between;
  }
  li {
    // display: inline-block;
    // padding-left: 30px;
  }
  .menu__link {
    text-transform: uppercase;
    font-size: 18px;
    font-family: $releway;
    line-height: 24px;
    color: $grey;
    position: relative;
    @include transition(color);
    &:after,
    &:before {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: $red;
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: 0;
      visibility: hidden;
      @include transition(opacity visibility);
    }
    &:after {
      bottom: -20px;
    }
    &:before {
      top: -20px;
    }
    &:hover {
      color: $white;
      &:after,
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
@media screen and (max-width: 1209px) {
  .menu {
    padding: 10px 0;
    z-index: 10;
    position: unset;
    .iconsss {
      display: inline-block;
      cursor: pointer;
    }
    .menu-list {
      // display: none;
      pointer-events: none;
      position: absolute;
      opacity: 0;
      width: 100%;
      visibility: hidden;
      @include transition(opacity);
    }
    .menu-open{
      text-align: center;
      display: inline-block;
      opacity: 1;
      visibility: visible;
      position: absolute;
      pointer-events: all;
      right: 0;
      left: 0;
      top: 70px;
      padding: 20px 50px;
      background-color: $color-h;
      li{
        display: block;
        padding: 0 0 20px 0;
        &:last-child{
          padding: 0;
        }
      }
      a{
        font-size: 25px;
        line-height: 30px;
        &:before,&:after {
          width: 100%;
        }
        &:before{
          top: -5px;
        }
        &:after{
          bottom: -5px;
        }
      }
    }
  }
}
